In [ ]:
#Sebastian Acevedo Restrepo 22258530
import pandas as pd

class SeguroMedico:
    def __init__(self, datos):
        self.datos = datos

    def cargar_datos(self):        
        archivoDF = pd.read_csv(self.datos)
        return(archivoDF)

    def informacion_basica(self):        
        datos = pd.DataFrame(self.cargar_datos())
        filas = datos.shape[0]
        cols = datos.shape[1]
        total = filas * cols #cuenta las filas (0) y columnas(1)
        tipoDato = datos.dtypes
        print(f'Numero de filas: {filas} \nNumero de columnas: {cols}\ntotal de datos: {total}\n')
        print(f'tipos de dato": {tipoDato}')     

    def información_general(self):
        datos=self.cargar_datos()
        filas = datos.shape[0]
        edadProme = (datos['age'].sum())/ filas
        hijosProme = (datos['children'].sum() /filas)
        
        print(f'Edad promedio: {edadProme}\nHijos promedio: {hijosProme}')

    def filtrar_personas(self,edad, hijos):
        tabla= self.cargar_datos()
        colHijos = tabla.loc[:, [hijos, edad]]
        print(f'Cantidad de personas: {colHijos.shape[0]}')      
        return (colHijos)
    
    def pacientes_que_fuman(self,consulta, consulta2):       
        tabla = pd.DataFrame(self.cargar_datos())
        noFuman = tabla.query(consulta2) 
        siFuman = tabla.query(consulta)
        print(f'Cantidad de no fumadores: {noFuman.shape[0]}\nCantidad de fumadores: {siFuman.shape[0]}')
        return noFuman,siFuman
    
    def analisis_costos(self, siFumador, noFumador):
        promSiFum = siFumador['charges'].sum() / siFumador.shape[0]
        promNoFum = noFumador['charges'].sum() / noFumador.shape[0]
        print(f'Costo promedio de los fumadores: {promSiFum}\nCosto promedio de los no fumadores: {promNoFum}')

    def costos_por_region():
        pass

    def filtrar_por_condicion():
        pass

    def  filtrado_especial(self, siFuman, consulta):
        #El filtro sera mujeres que tengas hijos, mayores de 30 y que vivan en southeast
        tabla = self.cargar_datos()
        consulta = tabla.query(consulta)
        return consulta

    def costos_por_region(self):
        tabla = self.cargar_datos()
        promeRegion = tabla.groupby('region')['charges'].mean()
        maxRegio = promeRegion.idxmax()        
        print(f"La región donde más cuesta pagar un seguro médico es '{maxRegio}'\n Promedio de por {promeRegion}")
    
    def filtrar_por_condicion(self, sexo, region):
        tabla = self.cargar_datos()
        return tabla.query(f'sex == "{sexo}" and region == "{region}"')

    def exportar_a_csv(self):       
        pass

    def ingresar_paciente(self, datos_paciente):       
        pass

In [204]:
SM = SeguroMedico('D:\ITM Trabajos\Estructura de Datos\parcial3\insurance.csv')
SM.cargar_datos().head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [86]:
SM.informacion_basica()

Numero de filas: 1338
Numero de columnas: 7
total de datos: 9366

tipos de dato": age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

In [88]:
SM.información_general()

Edad promedio: 39.20702541106129
Hijos promedio: 1.0949177877429

In [89]:
SM.filtrar_personas('age', 'children')

Cantidad de personas: 1338

      children  age
0            0   19
1            1   18
2            3   28
3            0   33
4            0   32
...        ...  ...
1333         3   50
1334         0   18
1335         0   18
1336         0   21
1337         0   61

[1338 rows x 2 columns]

In [90]:
SM.pacientes_que_fuman('smoker == "yes"', 'smoker == "no"')

Cantidad de no fumadores: 1064
Cantidad de fumadores: 274

(      age     sex     bmi  children smoker     region      charges
 1      18    male  33.770         1     no  southeast   1725.55230
 2      28    male  33.000         3     no  southeast   4449.46200
 3      33    male  22.705         0     no  northwest  21984.47061
 4      32    male  28.880         0     no  northwest   3866.85520
 5      31  female  25.740         0     no  southeast   3756.62160
 ...   ...     ...     ...       ...    ...        ...          ...
 1332   52  female  44.700         3     no  southwest  11411.68500
 1333   50    male  30.970         3     no  northwest  10600.54830
 1334   18  female  31.920         0     no  northeast   2205.98080
 1335   18  female  36.850         0     no  southeast   1629.83350
 1336   21  female  25.800         0     no  southwest   2007.94500

 [1064 rows x 7 columns],
       age     sex     bmi  children smoker     region      charges
 0      19  female  27.900         0    yes  southwest  16884.92400
 11     62  female  26.290         0    yes  southeast  27808.72510
 14     27    male  42.130         0    yes  southeast  39611.75770
 19     30    male  35.300         0    yes  southwest  36837.46700
 23     34  female  31.920         1    yes  northeast  37701.87680
 ...   ...     ...     ...       ...    ...        ...          ...
 1313   19  female  34.700         2    yes  southwest  36397.57600
 1314   30  female  23.655         3    yes  northwest  18765.87545
 1321   62    male  26.695         0    yes  northeast  28101.33305
 1323   42  female  40.370         2    yes  southeast  43896.37630
 1337   61  female  29.070         0    yes  northwest  29141.36030

 [274 rows x 7 columns])

In [133]:
siFuman, noFuman = SM.pacientes_que_fuman('smoker == "yes"', 'smoker == "no"')
SM.analisis_costos(siFuman,noFuman)

Cantidad de no fumadores: 1064
Cantidad de fumadores: 274
Costo promedio de los fumadores: 8434.268297856204
Costo promedio de los no fumadores: 32050.23183153284

In [144]:
SM.filtrado_especial(siFuman, 'sex == "female" and children > 0 and region == "southeast"')

      age     sex    bmi  children smoker     region     charges
6      46  female  33.44         1     no  southeast   8240.5896
25     59  female  27.72         3     no  southeast  14001.1338
41     31  female  36.63         2     no  southeast   4949.7587
43     37  female  30.80         2     no  southeast   6313.7590
58     53  female  22.88         1    yes  southeast  23244.7902
...   ...     ...    ...       ...    ...        ...         ...
1239   25  female  42.13         1     no  southeast   3238.4357
1262   41  female  28.05         1     no  southeast   6770.1925
1297   28  female  26.51         2     no  southeast   4340.4409
1323   42  female  40.37         2    yes  southeast  43896.3763
1330   57  female  25.74         2     no  southeast  12629.1656

[99 rows x 7 columns]

In [178]:
SM.costos_por_region()

La región donde más cuesta pagar un seguro médico es 'southeast'
 Promedio de por region
northeast    13406.384516
northwest    12417.575374
southeast    14735.411438
southwest    12346.937377
Name: charges, dtype: float64

In [192]:
SM.filtrar_por_condicion("female", "southwest")

      age     sex   bmi  children smoker     region      charges
0      19  female  27.9         0    yes  southwest  16884.92400
21     30  female  32.4         1     no  southwest   4149.73600
32     19  female  28.6         5     no  southwest   4687.79700
65     19  female  28.9         0     no  southwest   1743.21400
66     61  female  39.1         2     no  southwest  14235.07200
...   ...     ...   ...       ...    ...        ...          ...
1313   19  female  34.7         2    yes  southwest  36397.57600
1316   19  female  20.6         0     no  southwest   1731.67700
1331   23  female  33.4         0     no  southwest  10795.93733
1332   52  female  44.7         3     no  southwest  11411.68500
1336   21  female  25.8         0     no  southwest   2007.94500

[162 rows x 7 columns]

In [206]:
datos_paciente = {
            'age': [19],
            'sex': ['hombre'],
            'bmi': [22.5],
            'children': [0],
            'smoker': ['no'],
            'region': ['Medallo'],
            'charges': [1000]
        }
SM.ingresar_paciente(datos_paciente)

AttributeError: 'DataFrame' object has no attribute 'append'